<%include partials/header%>


  <div class="pimg1">
    <div class="ptext">
      <span class="border">
       Schedule
      </span>
    </div>
  </div>

    <div class="programs-offered">
  	<div class="container">
          <div class="row">
          	<h2>What we offer</h2>
            <% classes.forEach(function(classes){ %>
            <div class="col-lg-4 col-sm-6">
            	<div class="thumbnail">
            		<img src=<%= classes.image%>>
            		<h3><%= classes.class %></h3>
                <hr>
            		<p> <%= classes.description %></p>

            	</div>
            </div>
           <% }); %>   
           <div>
           	<% if(!currentUser){ %>
                <a href="/login" class="btn btn-select-plan btn-lg">Enroll</a>
             <% } else { %>
                <a href="enroll" class="btn btn-success btn-lg">Enroll here!</a>
          <% } %>
           	
           </div> 
          </div>
          
        </div>


  </div>
                                    
                                       

                                                
  <!-- Programs Offered -->
  


<div id="schedule" class="bg" style="background-image: url(https://images.unsplash.com/photo-1454560830408-e68fb19d3e8c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6d375ae3da87f73f25017dd370c2d174&auto=format&fit=crop&w=1132&q=80);">

		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center heading animate-box">
					<h2>Daily Class Schedule</h2>
				</div>
			</div>

			<div class="row animate-box">
				
					

					<!-- Tabs -->
					<div class="tab-content-wrap">
						<div class="tab-content tab-content active" data-tab-content="1">
							<ul class="class-schedule">
								<li class="text-center">
									<span class="time">6:00 AM - 8AM</span>
									<h4>Cardio</h4>
									<small>Angel Adams</small>
								</li>
								<li class="text-center">
									<span class="time">9:00 AM - 1PM</span>
									<h4>Body Building</h4>
									<small>Angel Adams</small>
								</li>
								<li class="text-center">
									<span class="time">2:00 PM - 4:00 PM</span>
									<h4>Yoga</h4>
									<small>Angel Adams</small>
								</li>
								<li class="text-center">
									<span class="time">5:00 PM - 7PM</span>
									<h4>Boxing</h4>
									<small>Angel Adams</small>
								</li>
								<li class="text-center">
									<span class="time">6:00 AM - 8AM</span>
									<h4>Yoga</h4>
									<small>Angel Adams</small>
								</li>
								<li class="text-center">
									<span class="time">9:00 AM - 1PM</span>
									<h4>Cardio</h4>
									<small>Angel Adams</small>
								</li>
								<li class="text-center">
                  <span class="time">2:00 PM - 4:00 PM</span>
                  <h4>Body Building</h4>
                  <small>Angel Adams</small>
                </li>
								<li class="text-center">
                  <span class="time">5:00 PM - 7PM</span>
                  <h4>Ballet Dance</h4>
                  <small>Angel Adams</small>
                </li>
							</ul>
						</div>

						

					</div>

		</div>
	</div>
	<%include partials/footer%>
