<% include partials/header%>
    <div class="pimg1">
    <div class="ptext">
      <span class="border">
        Testimonials
      </span>
    </div>
  </div>


  <div id="testimonial" class="bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center heading">
					<h2>Happy Clients</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="https://images.unsplash.com/photo-1485921040253-3601b55d50aa?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=84a0e6f445ff4cfbae5321aec6fe515b&auto=format&fit=crop&w=564&q=80" alt="user">
									</figure>
									<span>Jean Doe, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="https://images.unsplash.com/photo-1518772189570-5a6f6d6a611e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=86c84a0109b02dfa9d92c2003059aa63&auto=format&fit=crop&w=964&q=80" alt="user">
									</figure>
									<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="https://images.unsplash.com/photo-1508866405658-c7a5f5fca78a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fb095d5a345df1b66e174ce27f1426f3&auto=format&fit=crop&w=1303&q=80" alt="user">
									</figure>
									<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <% include partials/footer%>
